<header>
    <div class="top-header group">
        <div class="brand-logo">
            <img src="~/Content/img/ktb_logo_white_new@2x.png">
        </div>
    </div>
    <div class="search-bar group">
        <div class="input-group-no-button">
            <input type="text" class="form-control" id="menu-search" placeholder="Search Menu">
            <span class="input-btn-inside">
                <button class="btn btn-icon search-button" type="button">
                    <i class="feather-icon icon-search"></i>
                </button>
                <button class="btn btn-icon clear-button hide" type="button">
                    <i class="feather-icon icon-x"></i>
                </button>
            </span>
        </div>
    </div>
</header>